# Entorno virtual
venv/
.env
*.env

# Archivos del editor
.vscode/
*.swp
*.swo
.idea/
*.log

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos SQLite
db.sqlite3

# Archivos de prueba
*.bak
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
